<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkingDirectory</key>
	<string>/Users/Account/workspace/TestFlight-Changelogs</string>
	<key>StandardOutPath</key>
	<string>/Users/Account/Library/Logs/local.testflight.changelogs/stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/Account/Library/Logs/local.testflight.changelogs/stderr.log</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>RunAtLoad</key>
	<true/>
	<key>Label</key>
	<string>local.testflight.changelogs</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/Account/workspace/Testflight-Changelogs/svc.sh</string>
	</array>
</dict>
</plist>
